/* stylelint-disable function-url-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

.background-img {
  background: url(/server/public/home-image.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 1500px;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-quarter {
  flex-basis: 25%;
}

.column-fifth {
  flex-basis: 20%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .icon-menu {
    text-align: right;
  }
}
