/* stylelint-disable function-url-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  font-family: eczar;
}

button {
  background: none;
  border: none;
}

.logo-img {
  width: 170px;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.home-icons {
  color: white;
  margin-top: 1.8rem;
  font-size: 1.2rem;
}

.fa-shop {
  margin-right: 1rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.shop-icons {
  margin-top: 1.8rem;
  font-size: 1.2rem;
}

.dead-space {
  height: 0;
}

.shop-background-img {
  background: url(/server/public/shop-img.jpeg) no-repeat center center;
  background-size: cover;
  height: 350px;
}

h1 {
  position: relative;
  top: -220px;
  color: white;
  font-family: eczar;
  font-weight: 400;
}

.product-background {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.product-img {
  width: 169px;
}

p {
  margin-top: 0;
  padding-right: 0.5rem;
  margin-bottom: 0;
}

.item-card {
  width: 185px;
  height: 300px;
}
