/* stylelint-disable selector-class-pattern */
body {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: eczar;
}

input[type="radio"] {
  display: none;
}

input:checked ~ span {
  font-weight: bold;
  color: #c4b7a6;
}

.size {
  cursor: pointer;
}

label {
  padding: 7px 16.5px;
  border: 1px solid #223644;
  cursor: pointer;
  margin-right: 0.3rem;
  border-radius: 5px;
}

label:hover,
button:hover {
  background: black;
  color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

ul {
  padding-left: 1.5rem;
  margin-top: 2.5rem;
}

li {
  line-height: 0.8;
}

.xIcon:hover {
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}

h4 {
  height: 15px;
}

.cta {
  border: none;
  position: absolute;
  width: 100%;
  left: 70%;
  top: 90%;
  cursor: pointer;
  text-decoration: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  color: white;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
  background: none;
}

.cta:active svg {
  transform: scale(0.9);
  background: none;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#arrow-horizontal {
  color: white;
}

.footer-list {
  list-style: none;
}

.footer {
  padding-bottom: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  color: white;
}

.sneaker-button {
  text-decoration: none;
  color: black;
}

.footer-logo {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  color: white;
}

.footer-logo::after,
.footer::after {
  content: "";
  pointer-events: none;
  top: 1.5rem;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.footer-logo:focus,
.footer-logo:hover,
.footer:focus,
.footer:hover {
  color: white;
}

.footer-logo:focus::after,
.footer-logo:hover::after,
.footer:focus::after,
.footer:hover::after {
  width: 100%;
  left: 0%;
}

a {
  color: white;
}

.logo-button:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid white;
  border-radius: 0.5rem;
  box-shadow: 4px 5px 17px -4px white;
}

.logo-button:hover::before {
  width: 250%;
}
